.head {
width: 100%;
height: 64px;
background: var(--colors-white, #FFF);
box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
display: flex;
flex-direction: row;
gap: 87px;
justify-content: flex-end;
padding: 0 39.5px 0 0;
    &__themes {
        margin: 24px 0 0 0;
        display: flex;
        flex-direction: row;
        gap: 25px;
    }

    &__theme {
        display: flex;
        flex-direction: row;
        gap: 8px;
        cursor: pointer;
        // align-items: center;
    }

    &__radio{
        margin: 1px 0 0 0;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #F4F4F4;
        border: 1px solid var(--buttons-outlined-default, #E0E0E0);
        &.active{
            background: transparent;
            border: 1px solid var(--buttons-outlined-default, #272557);
        }
    }

    &__radio-circle{
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: transparent;
        &.active {
            background:var(--buttons-outlined-default, #272557);
        }
    }

    &__theme-text {

        color: var(--colors-grey-500, #9E9E9E);
        font-family: Nunito-400;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.079px;
        &.active{
            color:  #272557;
        }
    }

    &__account {
        margin: 13px 0 0 0;
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    &__avatar {
        margin: -1px 0 0 0;
        width: 40px;
        height: 40px;
    }

    &__box {
        display: flex;
        flex-direction: column;
        gap: 1px;
    }

    &__name {
        color: var(--272557, #272557);
        font-family: Nunito-600;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.07px;
    }

    &__tag {
        display: flex;
        flex-direction: row;
        gap: 0;

        color: var(--colors-grey-500, #9E9E9E);
        font-family: Nunito-400;
        font-size: 12px;
        line-height: 19.92px;
        letter-spacing: 0.3px;
    }

    &__green-dot {
        margin: 5px 4px 0 0;
        width: 8px;
        height: 8px;
        background: #43A047;
        border-radius: 50%;
    }
}
